# ==========================================
# Squarespace Config
# ==========================================
SQUARESPACE_API_KEY=

# ==========================================
# HubSpot Config
# ==========================================
HUBSPOT_ACCESS_TOKEN=
# Deals
HUBSPOT_PIPELINE_ID=824724916
HUBSPOT_STAGE_WON=1220382637

# Orders
HUBSPOT_ORDER_PIPELINE_ID=14a2e10e-5471-408a-906e-c51f3b04369e
HUBSPOT_ORDER_STAGE_ID=aa99e8d0-c1d5-4071-b915-d240bbb1aed9

# ==========================================
# App Config
# ==========================================
PORT=3000
THROTTLING_SERVICE=true

# ==========================================
# Migration Config
# ==========================================
TARGET_START_DATE="2026-06-22T00:00:00.000Z"
API_PAGE_DELAY_MS=300
HUBSPOT_RATE_LIMIT_DELAY=200
