# ==========================================
# Squarespace Config
# ==========================================
SQUARESPACE_API_KEY=

# ==========================================
# HubSpot Config
# ==========================================
HUBSPOT_ACCESS_TOKEN=
HUBSPOT_PIPELINE_ID=859687248
HUBSPOT_STAGE_WON=1283053947

# ==========================================
# App Config
# ==========================================
PORT=3000
THROTTLING_SERVICE=true

# ==========================================
# Migration Config
# ==========================================
TARGET_START_DATE="2025-12-01T00:00:00.000Z"
API_PAGE_DELAY_MS=300
HUBSPOT_RATE_LIMIT_DELAY=200
